body {
  font-family: 'Nissan Brand';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h1, h2, h3 {
  font-weight: normal;
}

h1, h2, h3, h4, h5, p, a {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.container {
  position: relative;
  width: 100%;
  // max-width: 1180px
  max-width: 767px;
  padding: 84px 0;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .container {
    padding: 60px 24px;
  }
}