.duties {
  background: #FFF;
  line-height: 22px;

  img {
    margin-right: 10px;
    margin-bottom: 3px;
  }
}

.duties__item {
  font-size: 16px;
  margin-bottom: 16px;
}

.duties__item--sub {
  font-weight: 300;
  padding-left: 28px;
}